<!DOCTYPE html>
<html lang="en">
    <head>
        <title>APIS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    <h2>Links</h2>
    <a href="/">home</a><br>
    <a href="#">/developers</a><br>
    <a href="#">/developers/get</a><br>
    <a href="#">/developers/insert</a><br>
    <a href="#">/developers/update</a><br>
    <a href="#">/projects</a><br>
    <a href="#">/projects/get</a><br>
    <a href="#">/projects/insert</a><br>
    <a href="#">/projects/update</a><br>
    </body>
</html>
